* {
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  color: #FF851B;
  font-family: "Lato", sans-serif;
  background: background-2; }
  body header#nav {
    font-style: italic;
    background-color: #FF851B;
    padding: 0;
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0; }
    body header#nav li.menu {
      list-style: none;
      text-align: center;
      padding-bottom: 17%; }
      body header#nav li.menu h1 {
        color: #fff; }
      body header#nav li.menu img {
        width: 50%;
        border-radius: 50%;
        margin: 0; }
      body header#nav li.menu a {
        text-decoration: none;
        color: #fff; }
        body header#nav li.menu a:hover {
          padding-bottom: 2px;
          border-bottom: 5px solid #FF4136; }
    body header#nav li.social {
      display: inline-block;
      padding: 5%;
      width: 15%;
      margin: 0 auto;
      padding-left: 5%; }
      body header#nav li.social a {
        color: #fff;
        list-style: none;
        text-decoration: none; }
        body header#nav li.social a:hover {
          color: #FF4136; }
        body header#nav li.social a i {
          font-size: 30px;
          text-align: center; }

section#aboutme {
  background: #fff;
  opacity: 0.6;
  margin-left: 31%;
  margin-right: 1%;
  margin-top: 2%; }
  section#aboutme h2 {
    padding: 2%; }
  section#aboutme p {
    padding: 5%; }

section#eulartsd {
  margin-left: 35%;
  margin-top: 2%; }
  section#eulartsd div div {
    color: #FF851B;
    font-style: italic; }
  section#eulartsd div img {
    width: 42%;
    padding: 2%; }

section#btnil {
  margin-left: 35%;
  margin-top: 2%; }
  section#btnil div div {
    color: #FF851B;
    font-style: italic; }
  section#btnil div img {
    width: 42%;
    padding: 2%; }

section#collages {
  margin-left: 35%;
  margin-top: 2%; }
  section#collages div div {
    color: #FF851B;
    font-style: italic; }
  section#collages div img {
    width: 42%;
    padding: 2%; }

section#contact {
  background: #fff;
  opacity: 0.6;
  margin-left: 35%;
  margin-right: 1%;
  margin-top: 2%; }
  section#contact form {
    height: 30%; }
    section#contact form div label {
      display: block;
      margin-top: 3%;
      margin-bottom: 3%; }
    section#contact form div input {
      padding: 3%;
      width: 80%; }
    section#contact form div input[type="submit"] {
      margin-top: 3%;
      margin-left: 3%; }
    section#contact form div textarea#mensaje {
      height: 10em;
      width: 85%;
      margin-left: 1%; }

.hidden {
  display: none; }

footer {
  position: fixed;
  bottom: 0;
  left: 45%;
  margin-bottom: 5%; }

/*# sourceMappingURL=style.css.map */
