$principal-font: #FFDC00 
$background-2: #fff
$background: url('../../images/corazon-con-lapices-de-colores.jpg')
$orange: /*f9a053*/ #FF851B
$second-color: #3D9970

*
	margin: 0
	padding: 0

body
	height: 100%
	color: $orange
	font-family: 'Lato', sans-serif 
	background: background-2
	

	header#nav
		font-style: italic
		background-color: $orange
		padding: 0
		width: 25%
		height: 100%
		position: fixed
		top: 0
		left: 0
		margin: 0 
		li.menu
			list-style: none
			text-align: center
			padding-bottom: 17%
			h1
				color: #fff
			img
				width: 50%
				border-radius: 50%
				margin: 0 
			a
				
				text-decoration: none
				color: #fff
				&:hover
					padding-bottom: 2px
					border-bottom: 5px solid #FF4136 /*rojo*/

		li.social
			display: inline-block
			padding: 5%
			width: 15%
			margin: 0 auto
			padding-left: 5%
			a
				color: #fff
				list-style: none
				text-decoration: none
				&:hover
					color: #FF4136
				i
					font-size: 30px
					text-align: center


div.title
	
section#aboutme
	background: $background-2
	opacity: 0.6
	margin-left: 31%
	margin-right: 1%
	margin-top: 2%

	h2
		padding: 2%
	p
		padding: 5%	
section#eulartsd
	margin-left: 35%
	margin-top: 2%
	div
		div
			color: $orange
			font-style: italic
		img
			width: 42%
			padding: 2%
section#btnil
	margin-left: 35%
	margin-top: 2%
	div
		div
			color: $orange
			font-style: italic
		img
			width: 42%
			padding: 2%
section#collages
	margin-left: 35%
	margin-top: 2%
	div
		div
			color: $orange
			font-style: italic
		img
			width: 42%
			padding: 2%

section#contact
	background: $background-2
	opacity: 0.6
	margin-left: 35%
	margin-right: 1%
	margin-top: 2%
	form
		height: 30%
		div
			label
				display: block
				margin-top: 3%
				margin-bottom: 3%
			input
				padding: 3%
				width: 80%
			input[type="submit"]
				margin-top: 3%
				margin-left: 3%

			textarea#mensaje
				height: 10em
				width: 85%
				margin-left: 1%
.hidden
	display: none

		

footer
	position: fixed
	bottom: 0
	left: 45%
	margin-bottom: 5%
